*{
  padding: 0%;
margin-top: 0%;
}

body{
  background:url(/image/fundo\ compra.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
  width: 100%;
  height: 100%;
}
 
  header {
   
    background: linear-gradient(68.15deg, #fd3300b6 16.62%, hsla(342, 100%, 50%, 0.801) 85.61%);
    margin-top: 0px;
      width: 100%;
      height: 100%;
      
    }    

    header h1 {
      color: #000000;
      
    } 
    header img{
      width: 100px;
      padding-top: 0%;
      

    }
        .price {
          
          margin-top: 10px;
          font-weight: bold;
          
         
        }
      
        nav ul {
          list-style-type: none;
          text-align:center;
        }
        
        nav ul li {
          display: inline;
          margin-right: 20px;
          
        }
        nav ul li a {
          text-decoration: none;
          color: #333;
        }
        .elem:hover {
          transform: scale(1.1);
        }
      




        #pix{text-align:center;
        }


        #pedir{
          color: white;
          border-radius: 100px;
          background-color: black;
          width: 300px;
          height: 40px;
          
        }
        #pizza{
          border-radius: 100px;
          background-color: black;
          width: 300px;
          height: 40px;
          color: white;
          text-align: center; 
        }
 
        footer{
          background: #333;
          color: #fff;
          width: 100%;
          height: 10%;
          position:absolute;
          bottom: -10px;
          left: 0;
        }


        
     